.about-sticky-container {
  height: 250vh;
  width: 60vw;
  overflow: hidden;
}

.about-container {
  border-top: 0.5px solid black;
  display: flex;
  position: sticky;
  top: 25vh;
  height: 60vh;
  font-family: "Work Sans", sans-serif;
}

.about-section {
  box-sizing: border-box;
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 48px;
}

.about-content {
  display: flex;
  justify-content: flex-start;
  gap: 260px;
}

.about-paragraph {
  width: 75vw;
  margin: 0;
  color: rgb(64, 64, 64);
}

.about-title {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  width: 25vw;
  position: relative;
  right: -24px;
}

.portrait-container {
  height: 550px;
  padding: 24px;
  position: relative;
  top: -100px;
}

.portrait {
  height: 550px;
}
