.about-sticky-container {
  height: 250vh;
}

.about-container {
  border-top: 0.5px solid black;
  /* background-color: #FDFDFD; */
  display: flex;
  position: sticky;
  top: 25vh;
  height: 60vh;
}

.about-section {
  box-sizing: border-box;
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  font-size: 3rem;
  /* font-size: 3vw; */
  font-weight: 300;
  padding-bottom: 48px;
}

.about-content {
  display: flex;
  justify-content: flex-start;
  gap: 200px;
  /* overflow: scroll; */
  /* width: 300vw; */
}

.about-paragraph {
  width: 75vw;
  margin: 0;
  /* padding-right: 48px; */
  color: rgb(64, 64, 64);
}

.about-title {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  width: 25vw;
  position: relative;
  right: -24px;
}

.portrait-container {
  height: 300px;
  padding: 24px;
  /* display: flex;
  justify-content: flex-end; */
  position: relative;
  top: -248px;
}

.portrait {
  height: 200px;
  /* border: 1px solid black; */
  /* position: sticky;
  top: 24px; */
}
