.contact-overlay {
  font-family: "Work Sans", sans-serif;
  background-color: #a9bae0;
  color: #F5F5F5;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 20;
  padding: 48px;
  box-sizing: border-box;
}

.contact-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.contact-crop {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-link {
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  color: #F5F5F5;
}

.contact-portrait-container {
  height: 300px;
  width: 50vw;
  position: fixed;
  bottom: 24px;
  left: 24px;
}

.contact-portrait {
  height: 100%;
  object-fit: cover;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.5s ease;
}

.close-btn:hover {
  opacity: 0.6;
  transform: rotate(90deg);
  transition: 0.5s ease;
}
