.contact-overlay {
  /* background-color: #a9bae0; */
  background-color: #131313;
  color: #F5F5F5;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 20;
  padding: 48px;
  box-sizing: border-box;
}

.contact-list {
  width: 50vw;
  display: flex;
  /* justify-content: space-between; */
  gap: 48px;
  flex-direction: column;
  font-family: "Noto Serif Display", serif;
  /* position: fixed;
  bottom: 24px;
  left: 24px; */
}

.contact-crop {
  overflow: hidden;
}

.contact-link {
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
}

.contact-portrait-container {
  height: 300px;
  width: 50vw;
  /* display: flex;
  justify-content: flex-end; */
  /* position: fixed;
  left: 24px;
  top: 24px; */
}

.contact-portrait {
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.5s ease;
}

.close-btn:hover {
  opacity: 0.6;
  transform: rotate(90deg);
  transition: 0.5s ease;
}
