@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&display=swap');

.header-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  padding: 24px;
  /* font-family: "Noto Serif Display", serif; */
}

.header {
  font-size: 10vw;
  font-weight: 500;
  line-height: 9vw;
  display: flex;
  overflow: hidden;
}

.sub-header-crop {
  overflow: hidden;
  display: flex;

  position: fixed;
  bottom: 24px;
  right: 24px;
}

.sub-header {
  font-size: 1rem;
  margin-top: 24px;
  display: flex;
}
