.work-imgs {
  width: 100vw;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: 48px 0;
}

.work-img-container {
  width: 60vw;
  /* height: 70vh; */
  padding: 24px;
  display: flex;
  justify-content: center;
}

.work-img {
  height: 100%;
  object-fit: contain;
  max-width: 60vw;
}
