.img-scroller-wrapper {
  box-sizing: border-box;
  width: 200vw;
  height: 70vh;
  /* padding: 24px; */
  /* border: .5px solid black; */
  display: flex;
  margin-left: auto;
  /* position: relative; */
  /* overflow: hidden; */
  /* position: sticky;
  top: 25vh; */
}

.img-scroller-container {
  /* margin: 0 48px; */
  /* width: 90vw; */
  display: flex;
  justify-content: center;
}

.img-scroller-img {
  object-fit: contain;
  width: 50vw;
  max-height: 100%;
  /* max-width: 80%; */
}

.arrow-btn {
  position: absolute;
  display: block;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  margin: 0 48px;
  transition: .5s ease;
}

.arrow-btn:hover {
  opacity: .5;
  transition: .3s ease;
}

.lucide {
  height: 50px;
  width: 50px;
  stroke-width: 1px;
}
