@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

.navbar {
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  padding: 24px;
  /* background-color: rgb(255, 245, 176); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.contact-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
}

.menu {
  font-size: 1rem;
  display: flex;
  gap: 24px;
  margin: 0;
}

.name {
  font-family: "Almendra Display", serif;
  font-size: 2rem;
}

a {
  color: rgb(26, 26, 26);
  text-decoration: none;
}
