@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

.navbar {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex-direction: column; */
  z-index: 100;
}

.contact-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  /* border: 2px solid black;
  border-radius: 50px;
  padding: 0 12px; */
}

/* .contact-btn:hover {
  color: #eae9ec;
  background-color: rgb(29, 28, 29);
} */

.menu {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  gap: 24px;
  margin: 0;
}

.name {
  font-family: "Almendra Display", serif;
  font-size: 2rem;
}

a {
  color: rgb(26, 26, 26);
  text-decoration: none;
}
