@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

.navbar {
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  padding: 24px;
  /* border-bottom: 0.5px solid black; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  mix-blend-mode: darken;
  z-index: 10;
}

.contact-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu {
  font-size: 1rem;
  display: flex;
  gap: 24px;
  margin: 0;
}

/* li {
  list-style: none;
} */

.name {
  /* font-family: "UnifrakturCook", cursive; */
  font-family: "Almendra Display", serif;
  font-size: 2rem;
}

a {
  color: rgb(26, 26, 26);
  text-decoration: none;
}
