.transition-swipe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgb(147, 147, 147);
  z-index: 20;
}

.work-menu {
  box-sizing: border-box;
  /* color: #FD302F; */
  color: rgb(30, 30, 30);
  /* background-color: #F6EEE3; */
  min-height: 100vh;
  font-family: "Noto Serif Display", serif;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}

.work-project-name {
  cursor: pointer;
  transition: 0.5s ease;
  /* border-top: 0.5px solid #FD302F */
}

.work-project-titles {
  margin: 24px;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  /* background-color: #F6EEE3; */
  width: 95vw;
}

.work-project-name-fade {
  opacity: 0.3;
  transition: 0.5s ease;
  /* border-top: 0.5px solid #FD302F */
}
