.transition-swipe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgb(147, 147, 147);
  z-index: 1;
}

.work-menu {
  box-sizing: border-box;
  color: rgb(30, 30, 30);
  background-color: #F5FE8B;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-project-titles {
  margin: 24px;
  font-size: 2.5rem;
  font-weight: 400;
  /* text-transform: uppercase; */
  position: fixed;
  bottom: 0;
  width: 50vw;
}

.work-project-name {
  display: flex;
  align-items: flex-end;
  padding: 8px 0px;
  cursor: pointer;
  transition: 0.5s ease;
  font-weight: 500;
}

.work-project-name-fade {
  display: flex;
  align-items: flex-end;
  padding: 8px 0px;
  opacity: 0.3;
  transition: 0.5s ease;
}

.thumbnail-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 90vh;
}

.work-project-menu-container {
  display: flex;
  gap: 48px;
}

.work-project-title-list {
  width: 50%;
  margin-top: 45vh;
  margin-bottom: 45vh;
  padding-left: 48px;
  box-sizing: border-box;
}

.work-project-title {
  opacity: 1;
  margin-bottom: 24px;
  cursor: pointer;
}

.work-project-title-fade {
  opacity: 0.3;
  margin-bottom: 48px;
}

.work-project-thumbnail-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.work-project-thumbnail {
  height: 35vw;
  width: 25vw;
  background-color: rgb(201, 201, 201);
  object-fit: cover;
}
