@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&display=swap');

.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* font-family: "Work Sans", sans-serif; */
  font-family: "Noto Serif Display", serif;
  background-color: #ECECE2;
  color: rgb(29, 28, 29);
}

.opener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 28, 29);
  z-index: 10;
}
