.personal-project-body {
  width: 100vw;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  display: flex;
}

.personal-project-text {
  box-sizing: border-box;
  width: 50vw;
  min-height: 100vh;
  /* position: sticky; */
  /* overflow: scroll; */
  top: 0;
  color: #000000;
  padding: 48px;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  gap: 24px;
  cursor: e-resize;
}

.personal-project-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 16px;
  text-transform: uppercase;
  border-bottom: .5px solid black;
  display: flex;
}

.personal-project-paragraph {
  border-bottom: .5px solid black;
  padding-bottom: 24px;
}

.personal-project-line {
  display: block;
  font-size: 2rem;
  line-height: 4rem;
  margin-bottom: 36px;
}

/* .personal-project-link {
  opacity: 0.5;
  transition: 0.5s ease;
  position: fixed;
  transform: rotate(-90deg);
  right: -48px;
  top: calc(50vh);
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 1rem;
} */

/* .personal-project-link {
  opacity: 0.5;
  color: #000000;
  transition: 0.5s ease;
  position: fixed;
  top: 24px;
  font-weight: 300;
  font-size: 1rem;
} */

.personal-project-link {
  opacity: 0.5;
  font-size: 1rem;
}

.personal-project-link:hover {
  opacity: 0.9;
  cursor: alias;
  transition: 0.5s ease;
}

.personal-project-footnote {
  display: flex;
  justify-content: space-between;

}

.personal-project-img-container {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top:0
}

.personal-project-img {
  object-fit: cover;
  width: 100%;
  margin: 0;
}

.personal-project-left-half {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
